.simulator-table {
    width: 100%;
    border-collapse: separate; /* allows you to control spacing between cells */
    border-spacing: 0;
    background: #fff; /* a solid background for the table */
    overflow: hidden; /* ensures shadows don't get clipped */
    margin-bottom: 20px; 
}

.simulator-table th, .simulator-table td {
    padding: 18px; /* Increase cell size */
    border: 1px solid #ddd; /* Stylish border */
    text-align: center; /* Center alignment */
    font-size: 16px; /* Larger font size */
    position: relative;
}

.simulator-table th {
    background-color: #ddeaee; /* Header background */
    font-weight: bold; /* Bold font for headers */
}

.record-style {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    margin: -7px -12px; /* To prevent adjustment to the table dimensions, margin needs to offset padding + border */
    border: 1px solid #000000;
  }

.inputs-container {
    display: flex;
    flex-direction: column;
}

.deck-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .sim-tournament-btn {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }

  .sim-tournament-btn:hover {
    background-color: #146bc9;
  }