.bento-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
  overflow: hidden;
}

.data-table {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  max-width: 80%;
}

.deck-filter {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 20%;
}

@media (max-width: 768px) {
  .bento-box {
    flex-direction: column;
  }

  .data-table,
  .deck-filter {
    flex: 0 0 100%;
    max-width: 100%;
  }
}